.tabs {
  visibility: visible !important;
  display: block;
  --border-color: #ddd;
  --button-text-color: #7b7b7b;
  --button-text-color-active: inherit;
}
  .tabs > .content > div:not(.active) {
    display: none;
  }
  .tabs > nav {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
  }
    .tabs > nav button {
      border: 1px solid transparent;
      border-bottom: 0;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background: transparent;
      color: var(--button-text-color);
      padding: 10px 20px;
      position: relative;
      top: 1px;
      font-weight: 600;
    }
    .tabs > nav button.active {
      background-color: #fff;
      border-color: var(--border-color);
      color: var(--button-text-color-active);
    }
    .tabs > .content {
      padding-top: 20px;
    }